{% extends 'admin/base.admin.html.twig' %}

{% block title %} {{ parent() }} - Créer un article {% endblock %}

{% block body %}

    <div class="d-flex flex-column justify-content-center align-items-center container m-auto pt-5">
    <p></p>
    <p>Le formulaire en question</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Enregistrer" class="btn btn-primary mb-3">
    {{ form_end(form) }}
    </div>

    
{% endblock %}